@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    color: #fff;
    background: #f2d0a4;
  }
  body {
    background: #fffcf0;
    padding-top: 80px;
  }
  img {
    @apply size-full;
    user-select: none;
  }
}
@layer components {
  .btn {
    @apply rounded-xl py-1 px-3 transition-all;
    border: 1.8px solid #f2d0a4;
  }
  .ltr {
    direction: ltr;
  }
  .rtl {
    direction: rtl;
  }
}
